dialog {
  background: var(--mdlbg);
  color: var(--mdlfg);
  border: 0;
  font-size: 16px;

  /*
    From: https://stackoverflow.com/a/64708195
  */
  pointer-events: none;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
dialog .brand {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 7.15rem; */
  left: 3.5rem;
  top: 1.5rem;
  font-size: 0.75rem;
  text-decoration: none;
  outline: 0 solid transparent;
}
dialog .brand svg {
  max-width: initial;
  width: 8rem;
  margin: 0;
}
dialog .brand svg + .pill {
  margin-top: .7rem;
}
dialog::backdrop {
  background: var(--mdlbd);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
dialog[open] {
  opacity: 1;
  z-index: 10;
  pointer-events: inherit;
}
dialog[open]::backdrop {
  opacity: .7;
  z-index: 9;
  pointer-events: inherit;
}

dialog.left,
dialog.right,
dialog.fullscreen {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
  max-width: none;
  max-height: none;
  /* transition: all 0.25s ease-in-out; */
  overflow: hidden;
  overflow-y: auto;
}
dialog.center {
  align-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 1rem;
  max-width: 100%;
}
dialog.wide {
  border-radius: 1rem;
  max-width: 100%;
}

dialog.responsive {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  top: 0;
  /* top: 3rem; */
  bottom: 0;
  /* height: auto; */
  /* height: 100vh; */
  width: 98%;
  max-height: 100%;
  max-width: 100%;
  border: 0 solid;
  /* opacity: 1; */
  padding: 0;
  flex-direction: column;

  margin: 0 auto;
  height: 100%;
}
dialog pre {
  white-space: break-spaces;
}
dialog form {
  box-sizing: border-box;
  display: flex;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  min-height: 31.25rem;
  width: 100%;
  flex: 1 1 auto;
  justify-self: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

dialog > form > header,
dialog > form > footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem 1.5rem;
  font-size: 1.25rem;
  overflow: hidden;
}
dialog > form > footer,
dialog > form > footer > .row {
  column-gap: .5rem;
}
dialog > form sub {
  font-size: .75rem;
  font-weight: 500;
  color: var(--dark-100);
}
dialog > form sup {
  font-size: .875rem;
  font-weight: 400;
  color: var(--dark-200);
}
dialog > form > footer sup,
dialog > form > footer sub {
  font-size: .875rem;
}
dialog > form > footer button {
  padding: .75rem 1rem;
}
dialog > form > header {
  border-bottom: 1px solid var(--dark-600);
}
dialog header button[type="reset"]:last-child {
  padding: 0 .5rem;
  place-self: center;
}
dialog > form > header > strong {
  margin: 0 0 0 1rem;
  font-size: 1.5rem;
}
dialog > form > fieldset {
  /* height: 100%; */
  overflow: auto;
  padding: 0 1rem;
  min-width: 100%;
  flex: 1 1 auto;
  /* display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr; */
}
dialog > form > fieldset input,
dialog > form > fieldset select,
dialog > form > fieldset textarea,
dialog > form > fieldset div:has(input + div) {
  text-align: left;
  padding: 0 1rem;
  flex: 0 0 auto;
  border-radius: 6.25rem;
  border: 1px solid var(--dark-600);
}
dialog > form > fieldset input + p,
dialog > form > fieldset label {
  text-align: left;
  text-transform: capitalize;
  color: var(--grayscale-gray-400);
  padding: 0 1rem;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1;
}
dialog > form > fieldset input + p {
  color: var(--cn);
  font-size: 1rem;
  font-weight: 400;
  margin: .5rem 0;
}
dialog > form > fieldset p {
  display: flex;
  padding: 0;
  margin: .8rem;
  align-items: flex-start;
  gap: .625rem;
  color: var(--dark-200);
}
dialog > form > fieldset article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
dialog > form > fieldset div + p {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 0 1rem;
  text-align: left;
}
dialog > form > fieldset p > span {
  padding: .25rem;
  border: 1px solid var(--dark-500);
}


dialog.responsive header {
  /* padding: 0 1rem 0 3rem;
  justify-content: flex-start; */
  padding: .5rem;
  line-height: 1.5;
}
dialog.responsive form {
  justify-content: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: calc(100% - 4px);
}
dialog.responsive fieldset:first-child {
  justify-content: center;
  flex: 1 1 auto;
  text-align: left;
}
dialog.responsive form > fieldset > input,
dialog.responsive fieldset:last-of-type:not(:first-of-type) {
  flex: 0 1 auto;
}
dialog.responsive fieldset:last-of-type:not(:first-of-type) {
  padding: 0;
}
dialog.responsive fieldset section {
  padding: 1rem;
}
dialog.responsive fieldset section.group {
  padding: 0;
}
dialog.responsive fieldset section article {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
dialog.responsive fieldset section.group article {
  flex-direction: column;
}

dialog.responsive button[type="submit"] {
  flex: 1 1 auto;
}
dialog.responsive footer button[type="reset"],
dialog.responsive footer button[type="submit"] {
  flex: 1 1 50%;
  border: 1px solid transparent;
  height: 100%;
  /* line-height: 1; */
}
dialog.responsive footer button[type="reset"] {
  border: 1px solid var(--dark-200);
  color: var(--dark-200);
  outline: 0;
}
dialog.responsive footer button[type="reset"]:hover {
  background-color: transparent;
  border: 1px solid var(--l);
  color: var(--l);
  outline: 0;
}
/* dialog.responsive button[type="reset"] {
  position: absolute;
  top: 0;
  left: 0;
  flex: 0 1 auto;
  width: auto;
  border: 0 solid transparent;
  background-color: transparent;
  transition: none;
  padding: 1rem;
  line-height: 1;
}
dialog.responsive button[type="reset"]:focus {
  outline: 0;
}
dialog.responsive button[type="reset"]::before {
  content: 'â†';
  font-size: 2rem;
  line-height: 1;
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
}
dialog.responsive button[type="reset"] span {
  display: none;
} */

dialog.responsive fieldset.nomargin {
  margin: 0;
}
dialog.responsive fieldset.nomargintop {
  margin-top: 0;
}
dialog.responsive fieldset.nomarginbottom {
  margin-bottom: 0;
}
dialog.responsive fieldset.nopad {
  padding: 0;
}
dialog.responsive fieldset.nopadtop {
  padding-top: 0;
}
dialog.responsive fieldset.nopadbottom {
  padding-bottom: 0;
}

dialog h4 {
  margin: .5rem auto;
}
dialog h4 + h3 {
  font-size: 2rem;
  margin-top: .5rem;
}

dialog figure {
  margin: 0;
  flex: 1 1 auto;
  align-self: stretch;
}
/* dialog figure figcaption {
  line-break: anywhere;
} */

dialog.fullscreen form section {
  margin: 0;
  flex: 1 1 auto;
  display: grid;
  grid-auto-rows: 0 1fr;
  grid-auto-flow: row;
}
dialog.fullscreen form section > aside,
dialog.fullscreen form section > article {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
dialog.fullscreen form section > aside {
  background-color: var(--c);
  padding: 0 3.5rem;
  justify-content: flex-end;
}
dialog.fullscreen form section > aside > h2 {
  color: var(--ct);
  font-size: 3rem;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
dialog.fullscreen form section > aside > p {
  color: var(--cn);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}
dialog.fullscreen form section > article {
  flex-grow: 4;
  gap: 2rem;
  justify-content: flex-end;
  /* justify-content: center; */
  padding-bottom: 3rem;
}
dialog.fullscreen form section > article > div {
  width: 70%;
}
dialog.fullscreen form section > article > hr {
  width: 70%;
  border: 0;
  border-top: 1px solid var(--dark-600);
}
dialog.fullscreen form section > article > div > h3 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--ct);
}
dialog.fullscreen form section > article > div > p {
  margin-bottom: 2.5rem;
  color: var(--cn);
}
dialog.fullscreen form section > article > div > button {
  width: 100%;
}


dialog.responsive fieldset.share section {
  flex: 1 1 auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
dialog.responsive fieldset.share section article {
  flex-direction: column;
  align-items: stretch;
}


dialog.responsive fieldset.contact .avatar {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 400;
  place-self: center;
}
dialog.responsive fieldset.contact h3 {
  font-size: 1.5rem;
  font-weight: 400;
  place-self: center;
}
dialog.responsive fieldset.contact section {
  padding: 0;
}
dialog.responsive fieldset.contact header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: initial;
  padding: 1rem 0 0;
  /* line-height: 1.5; */
}
dialog.responsive fieldset.contact section {
  flex: 1 1 auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
dialog.responsive fieldset.contact section article {
  flex-direction: column;
  align-items: stretch;
}

dialog .txid {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

@media (min-width: 650px) {
  dialog form {
    gap: 2rem;
  }
  dialog > form > footer sup,
  dialog > form > footer sub {
    margin-bottom: 1.25rem;
  }
  dialog.responsive {
    width: fit-content;
    height: fit-content;
    margin: auto;
  }
  /* dialog.responsive {
    position: fixed;
    top: 0px;
    height: 90vh;
    height: fit-content;
    max-width: 650px;
    border: 0 solid;
    opacity: 1;
    z-index: 9;
  } */
  dialog.responsive form {
    max-width: inherit;
    justify-content: space-between;
  }
  dialog.fullscreen form section {
    grid-auto-rows: 1fr;
    grid-auto-columns: 30rem 2fr;
    grid-auto-flow: column;
  }
  dialog.fullscreen form section > aside {
    justify-content: center;
  }
  dialog.fullscreen form section > article {
    gap: 5rem;
    justify-content: center;
    padding-bottom: 0;
  }
  dialog.responsive fieldset:first-child {
    justify-content: center;
    flex: none;
    margin-bottom: 1rem;
  }
  dialog.responsive form > fieldset:first-child > input,
  dialog.responsive fieldset:last-of-type:not(:first-of-type) {
    flex: none;
  }
  dialog.responsive fieldset.share:not(.solo) {
    min-width: 44rem;
  }
  dialog.responsive fieldset.share section {
    width: auto;
  }
  /* dialog.responsive button[type="submit"] {
    flex: none;
  } */
  dialog.responsive button[type="reset"] {
    position: initial;
    /* border: 1px solid transparent; */
    /* background-color: var(--btnbg); */
    /* text-align: left;
    padding-left: 0;
    padding-right: 0; */
  }
  dialog.responsive footer button[type="reset"]:last-child {
    flex: 1 1 auto;
  }
  dialog.responsive button[type="reset"]:hover {
    background-color: transparent;
    color: var(--dang);
  }
  dialog.responsive button[type="reset"]:focus {
    background-color: transparent;
    outline: 0;
    /* outline: 1px solid -webkit-focus-ring-color; */
  }
  dialog.responsive button[type="reset"]::before {
    content: none;
  }
  dialog.responsive button[type="reset"] span {
    display: initial;
  }
  dialog.responsive form fieldset.inline {
    justify-content: space-between;
  }
  dialog.responsive header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: initial;
  }

  dialog.left {
    left: -40vw;
    right: auto;
    width: 40vw;
  }
  dialog.left[open] {
    left: 0;
  }

  dialog.right {
    left: auto;
    right: -40vw;
    width: 40vw;
  }
  dialog.right[open] {
    right: 0;
  }

  dialog.center {
    max-width: 34rem !important;
  }
  dialog.wide {
    max-width: 100% !important;
  }

  dialog > form > fieldset {
    /* height: 100%;
    overflow: auto;
    padding: 2rem 1rem; */
    min-width: 33.75rem;
    /* flex: 1 1 auto; */
  }

  dialog > form > article {
    /* min-width: 33.75rem;
    max-width: 33.75rem; */
    width: 33.75rem;
    overflow: hidden;
  }
}