@-webkit-keyframes await-progress {
  0% {
    background-position: -150%;
  }
  100% {
    background-position: 200%;
  }
}
@keyframes await-progress {
  0% {
    background-position: -150%;
  }
  100% {
    background-position: 200%;
  }
}
