body {
  min-width: 320px;
  height: 100vh;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.nt {
  /* grid-template-rows: minmax(0,var(--nav-bound)) auto; */
  grid-template-rows: var(--nav-bound) auto;
  grid-template-areas:
    "nav"
    "main";
}

.ns {
  grid-template-columns: var(--nav-bound) auto;
  grid-template-areas: "nav main";
}

main {
  position: relative;
  grid-area: main;
  /* overflow: auto; */
}

nav {
  display: flex;
  grid-area: nav;
  align-items: center;
  /* overflow: hidden; */
  gap: 1rem;

  z-index: 1;

  flex-direction: column;
  padding: 0;
}

.ns nav {
  flex-direction: column;
}

.nt nav {
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: var(--nav-bound);
}

nav > div {
  display: flex;
  width: 100%;
  line-height: 2;
  flex: 1 1 auto;
  flex-direction: inherit;
  justify-content: inherit;
}

nav a {
  font-size: 40px;
  text-align: center;

  display: flex;
  align-items: center;
  /* line-height: 40px; */
  height: 100%;
  /* padding: 1rem; */
  /* width: 100%; */
  /* flex-direction: column; */

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
nav a:hover {
  text-decoration: none;
}
/* nav > a:first-child {
  justify-self: flex-start;
  padding: 1rem 0;
} */
nav a i {
  flex: 1 1 auto;
}
nav a sub {
  flex: 1 1 auto;
  font-size: .65rem;
  line-height: 1;
  align-self: center;
}
nav a svg {
  margin: 0 auto;
  display: block;
  height: 100%;
  max-width: 50%;
}

nav .alias {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1rem;
  margin-right: 2.5rem;
}
nav .alias span {
  padding: 1rem;
  border-radius: .25rem;
}

nav menu {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  height: inherit;
}
nav .hidden {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
nav > menu {
  min-width: 15rem;
  justify-content: flex-end;
}
nav menu li {
  display: flex;
  list-style: none;
  list-style-type: none;
}
nav menu li a {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1rem;
}
nav menu menu {
  position: absolute;
  top: var(--nav-bound);
  right: 2rem;
  flex-direction: column;
  flex: 1 1 auto;
  margin-top: -1rem;
  border-radius: .5rem;
  opacity: 1;
  transition: 100ms ease-in-out opacity;
  overflow: hidden;
}
nav menu menu li,
nav menu menu li a {
  flex: 1 1 auto;
}
nav menu menu:focus,
nav menu menu:active,
nav menu menu:hover,
nav .alias:hover + menu {
  height: initial;
  opacity: 1;
  visibility: visible;
}
