:root,
::backdrop {
  /* From Figma */
  --brand-blue: #008DE4;
  --brand-blue-highlight: #49b0f0;

  --dark-100: #B1C6CC;
  --dark-200: #80929C;
  --dark-400: #5E6D7C;
  --dark-500: #3F474F;
  --dark-600: #252C33;
  --dark-800: #111921;
  --dark-900: #0C1217;

  --light-100: #a2ccf6;
  --light-200: #afe0ff;
  --light-300: #c7e9ff;
  --light-500: #004470;
  --light-600: #003e66;

  --grayscale-gray-400: #9DA6A6;

  --c: var(--dark-900);
  --oc: #222;
  --mc: #1d1d1d;
  --di: #333;
  --hc: #555;

  --ct: var(--dark-100);
  --cn: var(--dark-200);
  --d: var(--dark-800);
  --l: var(--light-300);

  /* --l: #eee; */
  --lt: #eeea;
  --lf: #dfdfdf;
  --f: #fff;
  --f4: #f4f4f4;

  --info: #0bf;
  --note: #888;
  --warn: #fa0;
  --dang: #f55;
  --succ: #5b5;
  --lite: #09c;

  --nav-bound: 75px;

  --bgc: var(--d);
  --fc: var(--l);

  --emphasize: var(--f);
  --de-emphasize: var(--dark-600);

  --nav-bg: var(--dark-900);
  --nav-abg: var(--c);
  --nav-hbg: var(--dark-500);
  --nav-a: var(--a);

  --mdlbg: var(--d);
  --mdlfg: var(--f);
  --mdlbd: var(--dark-900);

  --tblalt: var(--di);
  --tblhdr: var(--e);
  --tblbrd: var(--co);
  --tblcap: var(--n);

  --fb: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  --fm: "IBM Plex Mono", Consolas, "Andale Mono WT", "Andale Mono",
  "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
  "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
  "Courier New", Courier, monospace;
  font-family: var(--fb);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --ease: ease-in-out .1s;
}

* { box-sizing: border-box; }

/* @media (prefers-color-scheme: light) {
  :root:not(.it),
  ::backdrop {
    color-scheme: light;
    --c: var(--brand-blue);
    --ct: var(--dark-700);
    --cn: var(--dark-500);

    --bgc: var(--l);
    --fc: var(--d);

    --emphasize: var(--dark-600);
    --de-emphasize: var(--dark-200);

    --linkbg: var(--lf);
    --linkfg: var(--lite);
    --linkbgh: var(--f);
    --linkfgh: var(--lite);

    --nav-bg: var(--light-600);
    --nav-abg: var(--dark-100);
    --nav-a: var(--dark-100);

    --btnbg: var(--l);
    --btnfg: var(--di);
    --btnbgd: var(--lf);
    --btnfgd: var(--note);
    --btnbgh: var(--f);
    --btnfgh: var(--lite);

    --inpbg: var(--f);
    --inpbd: var(--note);
    --inpfg: var(--fc);
    --inpbdi: var(--dang);

    --mdlbg: var(--f4);
    --mdlfg: var(--di);
    --mdlbd: var(--lt);

    --gridbg: var(--lf);
    --gridshd: var(--lf);
  }

  .it {
    color-scheme: dark;
    --bgc: var(--d);
    --fc: var(--l);

    --linkbg: var(--oc);
    --linkfg: var(--info);
    --linkbgh: var(--c);
    --linkfgh: var(--info);

    --btnbg: var(--oc);
    --btnfg: var(--fc);
    --btnbgd: var(--d);
    --btnfgd: var(--note);
    --btnbgh: var(--c);
    --btnfgh: var(--info);

    --inpbg: var(--c);
    --inpbd: var(--hc);
    --inpfg: var(--fc);
    --inpbdi: var(--dang);

    --mdlbg: var(--d);
    --mdlfg: var(--f);
    --mdlbd: var(--dark-900);

    --gridbg: var(--oc);
    --gridshd: var(--mc);
  }
  progress:indeterminate {
    background: linear-gradient(
      90deg,
      #0000 0%,
      #0000 50%,
      var(--lite) 100%
    );
  }
  nav a.theme::before {
    content: '☀';
    transform: rotateZ(0deg);
  }
  html:not(.it) nav a.theme::before {
    content: '☽';
    transform: rotateZ(45deg);
  }
} */
@media (prefers-color-scheme: dark) {
  :root:not(.it),
  ::backdrop {
    color-scheme: dark;
    --bgc: var(--d);
    --fc: var(--l);

    --linkbg: var(--oc);
    --linkfg: var(--info);
    --linkbgh: var(--c);
    --linkfgh: var(--info);

    --btnbg: var(--oc);
    --btnfg: var(--fc);
    --btnbgd: var(--d);
    --btnfgd: var(--note);
    --btnbgh: var(--c);
    --btnfgh: var(--info);

    --inpbg: var(--c);
    --inpbd: var(--hc);
    --inpfg: var(--fc);
    --inpbdi: var(--dang);

    --mdlbg: var(--d);
    --mdlfg: var(--f);
    --mdlbd: var(--dark-900);

    --gridbg: var(--oc);
    --gridshd: var(--mc);
  }

  .it {
    color-scheme: light;
    --bgc: var(--l);
    --fc: var(--d);

    --linkbg: var(--lf);
    --linkfg: var(--lite);
    --linkbgh: var(--f);
    --linkfgh: var(--lite);

    --btnbg: var(--l);
    --btnfg: var(--di);
    --btnbgd: var(--lf);
    --btnfgd: var(--note);
    --btnbgh: var(--f);
    --btnfgh: var(--lite);

    --inpbg: var(--f);
    --inpbd: var(--note);
    --inpfg: var(--fc);
    --inpbdi: var(--dang);

    --mdlbg: var(--f);
    --mdlfg: var(--di);
    --mdlbd: var(--lt);

    --gridbg: var(--lf);
    --gridshd: var(--lf);
  }
  progress:indeterminate {
    background: linear-gradient(
      90deg,
      #0000 0%,
      #0000 50%,
      var(--info) 100%
    );
  }
  nav a.theme::before {
    content: '☽';
    transform: rotateZ(45deg);
  }
  html:not(.it) nav a.theme::before {
    content: '☀';
    transform: rotateZ(0deg);
  }
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0;
}

body {
  background: var(--bgc);
  color: var(--fc);
}

a {
  /* color: var(--fc); */
  color: var(--info);
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  color: var(--info);
  text-decoration: dashed;
  text-decoration-line: underline;
}

svg {
  fill: currentColor;
  vertical-align: bottom;
}

svg path {
  fill: currentColor;
}

nav {
  background-color: var(--nav-bg);
}
nav a {
  color: var(--nav-a);
}
nav a:focus,
nav a:active,
nav a:hover {
  text-decoration: none;
}
nav a:focus span,
nav a:active span,
nav a:hover span {
  background-color: var(--nav-hbg);
}
nav a.active {
  background-color: var(--nav-abg);
}

nav .alias {
  color: var(--nav-a);
}
nav menu menu {
  background-color: var(--dark-600);
}

table {
  border: 1px solid var(--tblbrd);
}

tr:nth-of-type(2n) {
  background-color: var(--tblalt);
}

caption {
  background-color: var(--tblcap);
}

th {
  background-color: var(--tblhdr);
}


.dark-hover:not(:disabled):hover,
.dark {
  color: var(--d) !important;
}
.light-hover:not(:disabled):hover,
.light {
  color: var(--l) !important;
}
.info {
  color: var(--info) !important;
}
.note {
  color: var(--note) !important;
}
.warn-hover:not(:disabled):hover,
.warn {
  color: var(--warn) !important;
}
.dang-hover:not(:disabled):hover,
.dang {
  color: var(--dang) !important;
}
.succ {
  color: var(--succ) !important;
}
.lite {
  color: var(--lite) !important;
}
.live {
  color: var(--live) !important;
}

.bg-info {
  background-color: var(--info) !important;
}
.bg-note {
  background-color: var(--note) !important;
}
.bg-warn-hover:not(:disabled):hover,
.bg-warn {
  background-color: var(--warn) !important;
}
.bg-dang-hover:not(:disabled):hover,
.bg-dang {
  background-color: var(--dang) !important;
}
.bg-succ {
  background-color: var(--succ) !important;
}
.bg-lite {
  background-color: var(--lite) !important;
}
.bg-live {
  background-color: var(--live) !important;
}


.brd-info {
  border-color: var(--info) !important;
}
.brd-note {
  border-color: var(--note) !important;
}
.brd-warn-hover:not(:disabled):hover,
.brd-warn {
  border-color: var(--warn) !important;
}
.brd-dang-hover:not(:disabled):hover,
.brd-dang {
  border-color: var(--dang) !important;
}
.brd-succ {
  border-color: var(--succ) !important;
}
.brd-lite {
  border-color: var(--lite) !important;
}
.brd-live {
  border-color: var(--live) !important;
}


.link {
  border: 0 solid transparent;
  line-height: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: transform .2s ease-in-out;
}
.link:focus,
.link:focus-visible {
  outline: 0;
}
.link:not(:disabled):hover {
  background-color: transparent;
  /* transform: scale(1.25); */
}

.note {
  color: var(--note);
}
.hide {
  display: none;
}
.over {
  border: 1px dashed var(--warn);
}

.brand {
  color: var(--brand-blue);
}
.brand:active,
.brand:focus,
.brand:hover {
  color: var(--brand-blue-highlight);
}

.pill {
  background-color: var(--dark-600);
  color: var(--dark-200);
  padding: 0.25rem 0.75rem;
  border-radius: 6.25rem;
}

.cols > section > div {
  background-color: var(--nav-bg);
}
.cols > section > div > span {
  color: var(--dark-400);
}
.cols > section > div > a,
.cols > section > div > article {
  border-bottom: 3px solid var(--bgc);
  transition: background-color var(--ease);
}
.cols > section > div > a:focus,
.cols > section > div > a:hover,
.cols > section > div > article:focus,
.cols > section > div > article:hover {
  background-color: var(--dark-600);
}

.cols > section > div .pill:not(:disabled):hover {
  background-color: var(--dark-500);
}

.avatar {
  background-color: var(--dark-500);
  color: var(--dark-100);
  text-transform: uppercase;
}


figure figcaption:has(+ div) {
  color: var(--dark-200);
}
figure figcaption + div {
  color: var(--emphasize);
}
figure figcaption + div sub {
  color: var(--de-emphasize);
}
figure figcaption + div sub span {
  color: var(--emphasize);
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-200);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-100);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}