@import url(./styles/theme.css);
@import url(./styles/icons.css);
@import url(./styles/table.css);
@import url(./styles/code.css);
@import url(./styles/motion.css);
@import url(./styles/progress.css);
@import url(./styles/dialog.css);
@import url(./styles/form.css);
@import url(./styles/nav.css);

* { box-sizing: border-box; }

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

main {
  padding: 0;
  width: 100%;
  max-width: 40rem;
  justify-self: center;
}

main h1 { text-align: center; }

main header {
  margin: 2.5rem auto 0;
  padding: 0 2rem;
  /* max-width: 1100px; */
  min-height: 85px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column-reverse;
}
main header h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main header h2 + div {
  display: flex;
}
main header figure {
  align-items: flex-start;
  row-gap: .25rem;
  margin: 0;
}
main header figure figcaption:has(+ div) {
  color: var(--dark-200, #80929C);
  font-size: .75rem;
  font-weight: 500;
  line-height: 1;
}
main header figure figcaption + div {
  color: var(--f);
  display: flex;
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}
main header figure figcaption + div svg {
  align-self: center;
  margin-right: 1rem;
}
main header figure figcaption + div sub {
  align-self: self-end;
  font-size: 2.75rem;
  color: var(--dark-600);
}
main header figure figcaption + div sub span {
  color: var(--f);
}
main footer {
  text-align: center;
}


/* svg {
  max-width: 50%;
  margin: 0 auto;
  display: block;
} */

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
figure h4 {
  font-size: 2rem;
}


.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.msg {
  display: flex;
  flex-direction: column;
}
.center {
  align-content: center;
  justify-items: center;
  text-align: center;
}
.tag {
  display: inline-block;
  border: 1px solid var(--dark-500);
  margin: 0 .1rem .4rem 0;
  padding: .25rem;
}

.ta-left {
  text-align: left;
}
.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}
.ta-justify {
  text-align: justify;
}

@media (min-width: 650px) {
  main section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
  main > header + form,
  main > header + section {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 1.25rem;
    overflow: hidden;
    column-gap: 0.5rem;
  }
  main > header + form button,
  main > header + section button {
    flex: 1 1 50%;
  }
  main section > header {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    min-height: auto;
  }
  main section > header > * {
    margin: 0;
  }
  main section > article {
    flex: 0 1 31%;
  }
  header {
    flex-direction: row;
  }
}